
* {
    font-family: 'Merriweather', serif;
    color: black;
    font-size: 24px;
    
    
}
body {
    background-image: url('https://cdn.shopify.com/s/files/1/1260/4791/products/POTENZA-IVORY-web_869x435.jpg?v=1547252322');
}
